<html>
<head>
  <link rel="stylesheet" href="/static/Metro-UI-CSS-master/css/metro-bootstrap.css">
  <script src="/static/jquery-2.1.1.min.js"></script>
  <script src="/static/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="/static/Metro-UI-CSS-master/min/metro.min.js"></script>
  <style>
  	.container {
  		width:800px;
  	}
  	.metro h1, .metro h2, .metro h3, .metro h4, .metro h5, .metro h6 {
		margin: 10px 10px;
	}
  </style>
</head>
<body class="metro">
	<div class = "container">
		<header class="margin20 nrm nlm">
			<div class="clearfix">
				<a class="place-left" href="/" title>
					<h1>Our App Name</h1>
				</a>
			</div>
		</header>
		<div class="main-content clearfix">
			{% block body %}{% endblock %}
		</div>
	</div>
</body>
</html>
