<html>
<head>
  <link rel="stylesheet" href="/static/Metro-UI-CSS-master/css/metro-bootstrap.css">
  <script src="/static/jquery-2.1.1.min.js"></script>
  <script src="/static/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="/static/Metro-UI-CSS-master/min/metro.min.js"></script>
  <style>
  	.container {
  		width:800px;
  	}
  	.metro h1, .metro h2, .metro h3, .metro h4, .metro h5, .metro h6, .metro p {
		margin: 10px 10px;
	}
	.form {
		border: 1px #ccc solid;
		
	}
  </style>
  <link href="/static/Metro-UI-CSS-master/css/iconFont.css" rel="stylesheet">
</head>
<body class="metro" style="background-color:#1d1d1d;width:100%">
	<div class = "container" style="width:100%;position: relative;padding: 120px 80px 0 80px;">
		
		<!--
		<header class="margin20 nrm nlm">
			<div class="clearfix">
				<a class="place-left" href="/" title>
					<h1>Our App Name</h1>
				</a>
			</div>
		</header>
		-->
		<div class="main-content">
			<h1 class="tile-area-title fg-white" style="position:absolute;top:20px;left:80px"><a href="/" class="fg-white">Our App Name</a></h1>
		<div class="user-id bg-hover-transparent" style="position:absolute;top:40px;right:40px;display:inline-block;padding:8px;">
            <p class="fg-white">
            	Some information about our app
            </p>
        </div>
			{% block body %}{% endblock %}
		</div>
	</div>
</body>
<script>
  function adjustHeights(elem) {
      var fontstep = 2;
      if ($(elem).height()>$(elem).parent().height() || $(elem).width()>$(elem).parent().width()) {
        $(elem).css('font-size',(($(elem).css('font-size').substr(0,2)-fontstep)) + 'px').css('line-height',(($(elem).css('font-size').substr(0,2))) + 'px');
        adjustHeights(elem);
      }
    }
   adjustHeights('#fix_size')
</script>
</html>
