{% extends "head.html" %}

{% block body %}
 <div class="tile-group eight">
   {% if events %}
    {% for event in events %}
    <a href="/{{event.id}}" data-click="transform" style="padding-top:50px;font-size:250%" class="tile double double-vertical  text-center {% cycle 'bg-amber bg-hover-darkAmber' 'bg-teal bg-hover-darkTeal' 'bg-cyan bg-hover-blue' 'bg-orange bg-hover-darkOrange' 'bg-violet bg-hover-darkViolet' 'bg-lightGreen bg-hover-green' %}  fg-white fg-hover-white" >
    {{event.name}}
    </a>
    {% endfor %}
   {% endif %}

    <a href="/new_event" data-click="transform" style="padding-top:50px;font-size:250%" class="tile double double-vertical text-center ol-transparent bg-dark bg-hover-gray fg-white fg-hover-white" >
     Add event<h1><i class="icon-plus-2 fg-white"></i></h1>
    </a>
 </div>
{% endblock %}