{% extends "head.html" %}

{% block body %}
<div class="metro">
 <div style="width:770px" class="span bg-green">
  <h2>Plan event</h2>
 </div>
 <div class="container">
  <div class="grid fluid">
   <div class="row">
   {% if events %}
    {% for event in events %}
    <a href="/{{event}}.html" data-click="transform" style="padding:20px;" class="tile  text-center bg-darkRed bg-hover-red fg-white fg-hover-white bd-orange" >
     {{event}}
    </a>
    {% endfor %}
   {% endif %}

    <a href="/hello.html" data-click="transform" style="padding:20px;" class="tile text-center bg-black bg-hover-gray fg-white fg-hover-white bd-orange" >
     OTHER EVENT
    </a>
   </div>
  </div>
 </div>
</div>
{% endblock %}
