{% extends "head.html" %}

{% block body %}
<h2 class="fg-white">You are creating a new event.</h2><br>

<div class ="form" style="width:770px;margin-left:10px;background-color:fcfcfc;">	
<form action="{% url 'create_event' %}" method="post">
{% csrf_token %}
	<fieldset class="margin10">
	    <legend>Basic Event Info</legend>
	    <label>Event name</label>
	    <div class="input-control text" data-role="input-control">
	        <input type="text" name="event_name">
	        <button class="btn-clear" tabindex="-1" type="button"></button>
	    </div>
	    <label>Event description</label>
	    <div class="input-control textarea" data-role="input-control">
	    	<textarea name="description"></textarea>
	    </div>

	    <input type="submit" value="Save" name="save">
	    <input type="submit" value="Save and add resources" name="save">
	    <input type="submit" value="Cancel" name="cancel">
	</fieldset>
</form>
</div>
{% endblock %}