{% extends "head.html" %}

{% block body %}
<h2>You are updating <strong>{{ event.name }}</strong>.</h2><br>

<div class ="form" style="width:770px;">	
<form action="{% url 'save_update' event.id %}" method="post">
{% csrf_token %}
<label><h3>Which resources did you use?</h3></label>
<div>
{% for resource in event.resources.all %}
	<div class = "input-control checkbox margin10">
		<label>
			<input type = "checkbox" name="resource" id="resource{{ forloop.counter }}" value="{{ resource.id }}"/>
			<span class = "check"></span>
			{{ resource.name }}
		</label>
	</div>
{% endfor %}
</div>

<br />
<label><h3>How well did your event go?</h3></label>
<div>
	<div class="input-control radio margin10">
	    <label>
	        terribly
	    </label>
	</div>
{% for number in "xxxxxxxxxx" %}
	<div class="input-control radio margin5">
	    <label>
	        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ forloop.counter }}" />
	        <span class="check"></span>
	        {{ forloop.counter }}
	    </label>
	</div>
{% endfor %}
	<div class="input-control radio margin10">
	    <label>
	        fantastic!
	    </label>
	</div>
</div>

<br>
<div class="margin10">
<input type="submit" value="Save"/>
</div>
</form>
</div>
{% endblock %}
