{% extends "head.html" %}

{% block body %}

<h2 class="fg-white">You are updating <strong>{{ event.name }}</strong>.</h2><br>

<div class ="form" style="width:770px;margin-left:10px;background-color:fcfcfc">	
<form action="{% url 'save_update' event.id %}" method="post">
{% csrf_token %}
<label><h3>Which resources did you use?</h3></label>
<div>
{% for resource in event.resources.all %}
	<div class = "input-control checkbox margin10">
		<label>
			<input type = "checkbox" name="resource" id="resource{{ forloop.counter }}" value="{{ resource.id }}"/>
			<span class = "check"></span>
			{{ resource.name }}
		</label>
	</div>
{% endfor %}
<div class="margin10">
	<div class="button" id="createFlatWindow">+ Add resource</button>
</div>
</div>

<br />
<label><h3>How well did your event go?</h3></label>
<div>
	<div class="input-control radio margin10">
	    <label>
	        terribly
	    </label>
	</div>
{% for number in "xxxxxxxxxx" %}
	<div class="input-control radio margin5">
	    <label>
	        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ forloop.counter }}" />
	        <span class="check"></span>
	        {{ forloop.counter }}
	    </label>
	</div>
{% endfor %}
	<div class="input-control radio margin10">
	    <label>
	        fantastic!
	    </label>
	</div>
	<div class="input-control radio margin5">
	    <label>
	        <input type="radio" name="rating" id="ratingnone" value="not_run" checked="true"/>
	        <span class="check"></span>
	        I have not yet run this event.
	    </label>
	</div>
</div>

<br>
<div class="margin10">
	<input type="submit" class="primary button" name="cancel" value="Save"/> <input type="submit" class="button" name="cancel" value="Cancel"/>
</div>
</form>
</div>


<script>
	$("#createFlatWindow").on('click', function(){
        $.Dialog({
            overlay: true,
            shadow: true,
            flat: true,
            draggable: true,
            title: 'Add resource',
            content: '',
            padding: 10,
            onShow: function(_dialog){
                var content = '<form class="user-input" action="{% url "create_resource" event.id %}" method="post">' +
                		"{% csrf_token %}" +
                        '<label>Resource name</label>' +
                        '<div class="input-control text"><input type="text" name="resource_name"><button class="btn-clear"></button></div>' +
                        '<label>Link to resource</label>' +
                        '<div class="input-control text"><input type="text" name="resource_link"><button class="btn-clear"></button></div>' +
                        '<label>Resource description</label>'+
                        '<div class="input-control text" style="width:400px;"><input type="text" name="resource_description"><button class="btn-clear"></button></div>' +
                        '<div class="form-actions">' +
                        '<button class="button primary" id="create_resource">Create</button>&nbsp;'+
                        '<button class="button" type="button" onclick="$.Dialog.close();">Cancel</button> '+
                        '</div>'+
                        '</form>';

                $.Dialog.title("Add resource");
                $.Dialog.content(content);
            }
        });
    });
	$("#create_resource").on('click', function(){
		$.Dialog.close();
	});
</script>
{% endblock %}
