{% extends "head.html" %}

{% block body %}
You are updating {{ event.name }}.<br>

<form action="{% url 'save_update' event.id %}" method="post">
{% csrf_token %}
<label>Which resources did you use?</label>

{% for resource in event.resources.all %}
	<div class = "input-control checkbox margin10">
		<label>
			<input type = "checkbox" name="resource" id="resource{{ forloop.counter }}" value="{{ resource.id }}"/>
			<span class = "check"></span>
			{{ resource.name }}
		</label>
	</div>
{% endfor %}

<br />
<label>How well did your event go?</label>
{% for number in "xxxxxxxxxx" %}
	<div class="input-control radio">
	    <label>
	        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ forloop.counter }}" />
	        <span class="check"></span>
	        {{ forloop.counter }}
	    </label>
	</div>
{% endfor %}
<br>
<input type="submit" value="Save" />
</form>
{% endblock %}
